@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap"); /* TITULOS */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Outfit:wght@100..900&display=swap"); /* TEXTOS */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap");

* {
  /* RESET da página */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* ===== CABEÇALHO ===== */
header {
  background-color: #0e0b13;
  display: flex;
  align-items: center;
  position: relative;
}

header img {
  width: 9rem;
  margin: 0.8rem;
}

header h1 {
  color: #ffd84d;
  font-family: "Oswald";
  font-size: 3.2rem;
  line-height: 2.7rem;
}

header h1 span {
  color: #a855f7;
  font-size: 3rem;
}

.menu {
  display: flex;
  gap: 4rem;
  position: absolute;
  /* centraliza o NAV ao meio */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.matricula {
  margin-left: auto;
  margin-right: 2rem;
  border: 2px solid #a855f7;
  border-radius: 0.5rem;
}

.matricula a {
  display: block;
  padding: 1rem 2rem;
}

.menu a,
.matricula a {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Bebas Neue";
  color: #ffd84d;
  letter-spacing: 0.1rem;
  transition: 0.3s;
}

.menu a:hover {
  color: white;
  /* efeito neon */
  text-shadow:
    0 0 5px #8a2be2,
    0 0 10px #8a2be2,
    0 0 20px #8a2be2,
    0 0 40px #8a2be2;
}

/* Main */

/* Banner */

.profissionais {
    position: relative;
    height: 40rem;
    background-color: #2b323a;
    overflow: hidden;
}

.lado-esquerdo {
  position: absolute;
  inset: 0;
  width: 70%;
  background-color: #f4efef;
  padding: 8rem;
  clip-path: polygon(
    /* Isso ta criando a divisoria inclinada */ 0 0,
    47% 0,
    30% 100%,
    0 100%
  );
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: 0.5s;
}

.lado-esquerdo h1 {
  color: #10091a;
  font-size: 3.5rem;
  transition: font-size 0.5s ease;
  font-family: "Anton", sans-serif;
}

.lado-esquerdo p {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
}

.profissionais:hover > .lado-esquerdo {
  clip-path: polygon(
    /* Isso ta criando a divisoria inclinada */ 0 0,
    62% 0,
    45% 100%,
    0 100%
  );
}

.profissionais:hover > .lado-esquerdo > h1 {
  font-size: 3.7rem;
}

/* Experiêcia */

.experiencia {
  background-color: #dbd0d8;
  width: 100%;
  height: 33vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}

.titulos {
    margin-left: 5rem;
}

.experiencia > .titulos > span {
  font-size: 3.5rem;
  font-family: 'Anton', sans-serif;
  color: #10091A;
}

.experiencia > .titulos > h2 {
  font-size: 5rem;
  font-family: 'Anton', sans-serif;
}

.experiencia > article {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.7rem;
    border-right: 1.5px solid #10091A;
    padding-right: 5rem;
    height: 90%;
    width: 35vw;
    display: flex;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 15vw;
    gap: 2rem;
}

.coluna img {
    width: 30%;
    margin-bottom: 1rem;
}

.coluna h3 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}

.coluna p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}