@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap"); /* TITULOS */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Outfit:wght@100..900&display=swap"); /* TEXTOS */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap");

* {
  /* RESET da página */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
    background-color: #F8F7FA;
}

/* ===== CABEÇALHO ===== */
header {
    display: flex;
    align-items: center;
    position: relative;
}

header img {
    padding: 3px;
    margin: .8rem;
}

.container-texto-logo h1 {
    font-size: 2.7rem;
    font-family: 'Science Gothic';
    line-height: .6;
}

.container-texto-logo h1 span {
    color: #52216F;
}

/* --- Menu de Navegação --- */
.menu {
    display: flex;
    gap: 4rem;
    position: absolute;
    /* centraliza o NAV ao meio */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu a, .matricula a {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
    color: #000000;
    letter-spacing: .1rem;
    position: relative;
    transition: .3s;
}

.menu a:hover {
    color: #7B2CFF;
}

/* Linha embaixo */
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 100%;
    height: 2px;
    background-color: #7B2CFF;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease;
}

.menu a:hover::after {
    transform: scaleX(1);
}

/* --- Botão "FAÇA SUA MATRICULA" --- */
.matricula {
    margin-left: auto;
    margin-right: 2rem;
    border: 2px solid #A855F7;
    border-radius: .5rem;
    transition: .5s;
}

.matricula:hover {
    background-color: #FFD84D;
}

.matricula a {
    display: block;
    padding: 1rem 2rem;
}

/* Main */

/* Banner */

.banner {
    position: relative;
    height: 50rem;
    overflow: hidden;
}

.lado-esquerdo {
  position: absolute;
  height: 100%;
  width: 70%;
  background-color: #f5ebf2;
  padding: 8rem;
  clip-path: polygon(
    /* Isso ta criando a divisoria inclinada */ 0 0,
    74% 0,
    61% 100%,
    0 100%
  );
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  transition: 0.5s;
}

.lado-esquerdo h1 {
  color: #7B2CFF;
  font-size: 4rem;
  transition: font-size 0.5s ease;
  font-family: "Anton", sans-serif;
}

.lado-esquerdo p {
  color: #0B0A0F;
  font-size: 2.9rem;
  transition: font-size 0.5s ease;
  font-family: "Montserrat", sans-serif;
}

.banner:hover > .lado-esquerdo {
  clip-path: polygon(
    /* Isso ta criando a divisoria inclinada */ 0 0,
    81% 0,
    69% 100%,
    0 100%
  );
}

.banner:hover > .lado-esquerdo > h1 {
  font-size: 4.2rem;
}

.banner:hover > .lado-esquerdo > p {
  font-size: 3.1rem;
}

.lado-direito {
  position: absolute;
  background: url(/Imagens/Profissionais/Banner.png) no-repeat center;
  background-size: cover;
  right: 0;
  width: 80%;
  height: 100%;
  padding: 8rem;
  clip-path: polygon(
    /* Isso ta criando a divisoria inclinada */
    16% 0,
    100% 0,
    100% 100%,
    1.4% 100%
  );
}

/* Experiêcia */

.experiencia {
  background-color: #F8F7FA;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  padding: 0 3rem;
}

.titulos {
    margin-left: 4.5rem;
}

.experiencia > .titulos > span {
  font-size: 2.7rem;
  font-family: 'Anton', sans-serif;
  color: #55515A;
}

.experiencia > .titulos > h2 {
  font-size: 4.5rem;
  color: #7B2CFF;
  font-family: 'Anton', sans-serif;
}

.experiencia > article {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    border-right: 1.5px solid #E8E3E7;
    border-left: 1.5px solid #E8E3E7;
    padding: 0 5rem;
    height: 85%;
    width: 35vw;
    display: flex;
    align-items: center;
    color: #0B0A0F;
}

.coluna {
    display: flex;
    padding-right: 5rem;
    border-right: 1.5px solid #E8E3E7;
    color: #0B0A0F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75%;
    width: 15vw;
    gap: 2rem;
}

.coluna:nth-of-type(4) {
  border-right: none;
}

.coluna img {
    width: 30%;
    margin-bottom: .5rem;
}

.coluna h3 {
  color: #7B2CFF;
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}

.coluna p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
}

/* ===== PROFISSIONAIS ===== */

.profissionais {
  width: 100%;
  min-height: 90vh;
  background-color: #F8F5F7;
  border-top: 1.5px solid #E8E3E7;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 4rem;
}

.superior {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.titulos {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
}

.titulos > span {
  font-size: 3.7rem;
  font-family: 'Anton', sans-serif;
  color: #55515A;
}

.titulos > h2 {
  font-size: 5.5rem;
  color: #7B2CFF;
  font-family: 'Anton', sans-serif;
}

/* ===== FILTROS ===== */

.filtros {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 2rem;
}

.filtro {
  background: transparent;
  color: #55515A;
  border: 1px solid #E8E3E7;
  border-radius: 1.5rem;
  padding: 1rem 5.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.filtro.ativo {
  color: #7B1FE8;
  border-color: #1A1820;
}

.filtro:hover {
  border-color: #1A1820;
  color: #7B1FE8;
}

/* ===== ÁREA DOS CARDS ===== */

.personal {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Container dos cards */

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

/* ===== CARD ===== */

.card {
  height: 100%;
  min-width: 30rem;
  width: 30rem;

  border-radius: 2rem;
  background-color: #FFFFFF;
  border: 1px solid #E8E3E7;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  transition: 0.6s;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 2rem rgb(102,68,224);
}

.card > figure {
  height: 35%;
  width: 100%;
  border-bottom: 1px solid #E8E3E7;
}

.card > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 2rem 2rem 0 0;
}

.card > h2 {
  margin: .5rem 0 0 1rem;
  font-size: 3.4rem;
}

.card > span {
  margin: 1rem 0 1rem 1rem;
  font-size: 2.4rem;
}

.card > .box {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: .8rem 2rem;

  font-size: 2.4rem;

  margin: 0 0 1rem 1rem;

  width: fit-content;

  border: 1px solid #7B2CFF;
  color: #7B2CFF;

  border-radius: .5rem;
}

.card > p {
  margin: 0 0 1.4rem 1rem;
  font-size: 2.3rem;
}

.redes {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 4rem;

  border-top: 1px solid #E8E3E7;

  height: 4rem;
}

.redes > a > img {
  width: 3rem;
  height: 3rem;
}